@charset "UTF-8";

.container {
    display: flex;
}

/*Flex Wrap*/

.box {
    display: flex;
    flex-wrap: wrap;
    border: 1px dashed red;
}

.box div {
    border: 1px solid;
    width: 140px;
}



.boxy {
    display: flex;
    border: 1px dashed red;
    
}

.boxy div {
    border: 1px solid;
    flex: 1;
}
